<template>
  <v-form @submit.prevent="handleSubmit">
    <v-container>
      <v-row class="mb-5" align="center" no-gutters>
        <div>
          <div class="text-h6">Avaliações</div>

          <div class="text-body-2 grey--text ">
            Detalhes da ficha de cadastro do usuário
          </div>
        </div>

        <v-spacer />

        <v-btn class="elevation-0" color="primary">
          Associar a uma avaliação
        </v-btn>
      </v-row>

      <v-card class="pa-5" outlined>
        <v-row align="center">
          <v-col cols="5" md="4">
            Agreeableness
          </v-col>
          <v-col cols="5" md="7">
            <v-progress-linear value="50" color="primary" height="10" />
          </v-col>

          <v-col cols="2" md="1">
            <div class="primary--text font-weight-bold">60</div>
          </v-col>
        </v-row>

        <v-row align="center">
          <v-col cols="5" md="4">
            Conscientiousness
          </v-col>
          <v-col cols="5" md="7">
            <v-progress-linear value="50" color="primary" height="10" />
          </v-col>

          <v-col cols="2" md="1">
            <div class="primary--text font-weight-bold">60</div>
          </v-col>
        </v-row>

        <v-row align="center">
          <v-col cols="5" md="4">
            Drive
          </v-col>
          <v-col cols="5" md="7">
            <v-progress-linear value="50" color="primary" height="10" />
          </v-col>

          <v-col cols="2" md="1">
            <div class="primary--text font-weight-bold">60</div>
          </v-col>
        </v-row>

        <v-row align="center">
          <v-col cols="5" md="4">
            Extraversion
          </v-col>
          <v-col cols="5" md="7">
            <v-progress-linear value="50" color="primary" height="10" />
          </v-col>

          <v-col cols="2" md="1">
            <div class="primary--text font-weight-bold">60</div>
          </v-col>
        </v-row>

        <v-row align="center">
          <v-col cols="5" md="4">
            Openness
          </v-col>
          <v-col cols="5" md="7">
            <v-progress-linear value="50" color="primary" height="10" />
          </v-col>

          <v-col cols="2" md="1">
            <div class="primary--text font-weight-bold">60</div>
          </v-col>
        </v-row>

        <v-row align="center">
          <v-col cols="5" md="4">
            Stability
          </v-col>
          <v-col cols="5" md="7">
            <v-progress-linear value="50" color="primary" height="10" />
          </v-col>

          <v-col cols="2" md="1">
            <div class="primary--text font-weight-bold">60</div>
          </v-col>
        </v-row>

        <v-divider class="my-10" />

        <v-row>
          <v-col cols="4">
            Agreeableness
          </v-col>

          <v-col cols="8">
            <v-slider value="63" thumb-label="always" hide-details />

            <div class="d-flex">
              Candid
              <v-spacer />
              Considerate
            </div>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="4">
            Conscientiousness
          </v-col>

          <v-col cols="8">
            <v-slider value="45" thumb-label="always" hide-details />

            <div class="d-flex">
              Flexible
              <v-spacer />
              Disciplined
            </div>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="4">
            Drive
          </v-col>

          <v-col cols="8">
            <v-slider value="90" thumb-label="always" hide-details />

            <div class="d-flex">
              Laid-Back

              <v-spacer />
              Driven
            </div>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="4">
            Extraversion
          </v-col>

          <v-col cols="8">
            <v-slider value="70" thumb-label="always" hide-details />

            <div class="d-flex">
              Reserved
              <v-spacer />
              Outgoing
            </div>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="4">
            Openness
          </v-col>

          <v-col cols="8">
            <v-slider value="30" thumb-label="always" hide-details />

            <div class="d-flex">
              Pragmatic
              <v-spacer />
              Curious
            </div>
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="4">
            Stability
          </v-col>

          <v-col cols="8">
            <v-slider value="50" thumb-label="always" hide-details />

            <div class="d-flex">
              Passionate
              <v-spacer />
              Stable
            </div>
          </v-col>
        </v-row>
      </v-card>
    </v-container>
  </v-form>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleSubmit() {
      this.$emit('submit')
    },
    close() {
      this.$emit('close')
    },
  },
}
</script>
