<template>
  <v-container>
    <div class="my-5">
      <div class="text-h6">Dados do cadastro</div>

      <div class="text-body-2 grey--text ">
        Detalhes da ficha de cadastro do usuário
      </div>
    </div>

    <v-card class="pa-5" outlined>
      <v-form @submit.prevent="handleSubmit">
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              label="Primeiro nome"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              label="Ultimo nome"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              label="E-mail"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              :label="$t('page.user.form.company')"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              :label="$t('page.user.form.password')"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              :label="$t('page.user.form.language')"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              label="Ativo"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>

          <v-col cols="12">
            Criado em: DD-MM-YYYY HH:mm:ss
            Atualizado em: DD-MM-YYYY HH:mm:ss
            Último login: DD-MM-YYYY HH:mm:ss
          </v-col>
        </v-row>

        <v-row>
        </v-row>
        <!-- TODO i18n -->
        <small>* indica que são campos obrigatórios</small>

        <v-card-actions class="pa-0 mt-5">
          <v-btn color="error" text>
            Deletar
          </v-btn>
          <v-spacer />

          <v-btn
            type="submit"
            class="elevation-0"
            color="primary"
            :loading="loading"
          >
            {{ $t('page.user.action.save') }}
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleSubmit() {
      this.$emit('submit')
    },
    close() {
      this.$emit('close')
    },
  },
}
</script>
