<template>
  <v-container>
    <div class="my-5">
      <div class="text-h6">Grupos e Permissões</div>

      <div class="text-body-2 grey--text ">
        Grupos que o usuário pertence e seus direitos de acesso no sistema
      </div>
    </div>

    <v-card class="pa-5 mb-5" outlined>
      <div class="mb-5">
        <div class="text-h6">Grupos</div>

        <div class="text-body-2 grey--text ">
          Adicione o edite os grupos do usuário
        </div>
      </div>

      <v-select
        :items="['Grupo A', 'Grupo B', 'Grupo C']"
        :clearable="true"
        deletable-chips
        chips
        multiple
        placeholder="Selecione um grupo"
        outlined
        dense
        hide-details
      />

      <v-divider class="my-5" />

      <div class="my-5">
        <div class="text-h6">Permissões</div>

        <div class="text-body-2 grey--text ">
          Permissões do usuário no sistema
        </div>
      </div>

      <v-radio-group>
        <v-radio label="Usuário" value="user" />
        <v-radio label="Administrador" value="admin" />
        <v-radio label="Parceiro" value="partner" />
      </v-radio-group>
    </v-card>
  </v-container>
</template>

<script>
export default {
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    handleSubmit() {
      this.$emit('submit')
    },
    close() {
      this.$emit('close')
    },
  },
}
</script>
