<template>
  <v-card>
    <v-form ref="form" @submit.prevent="handleSubmit">
      <v-card-title>Criar nova configuração de Prova</v-card-title>
      <v-divider />

      <v-card-text>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.name"
              :rules="[validation.required]"
              label="Nome *"
              hide-details="auto"
              dense
              outlined
            />
          </v-col>

          <v-col cols="12" md="6">
            <v-select
              v-model="form.assessmentId"
              :items="assessmentTypes"
              :rules="[validation.required]"
              item-text="name"
              item-value="id"
              label="Tipo de avaliação"
              @change="handleChangeAssessment"
              hide-details="auto"
              dense
              outlined
            />
          </v-col>

          <v-col
            cols="12"
            v-if="form.assessmentId && !skills.length"
          >
            <span>Para este teste não existe configurações!</span>
          </v-col>
          <v-col
            cols="12"
            v-else-if="form.assessmentId && skills.length"
          >
            <!-- Setup Skills -->
            <v-radio-group
              v-model="form.skillId"
              @change="handleChangeAssessmentType"
              :rules="[validation.required]"
            >
              <v-radio
                v-for="skill in skills"
                :key="skill.name"
                :label="skill.name"
                :value="skill.id"
              ></v-radio>
            </v-radio-group>
            <!-- Setup Skills -->

            <v-row no-gutters>
              <!-- Setup Analise, Feedback e PDI -->
              <v-col class="d-flex justify-center">
                <v-switch
                  label="Análise"
                  v-model="form.analyze"
                  :disabled="form.skillId && !skill.analyze"
                />
              </v-col>
              <v-col class="d-flex justify-center">
                <v-switch
                  label="Feedback"
                  v-model="form.feedback"
                  :disabled="form.skillId && !skill.feedback"
                />
              </v-col>
              <v-col class="d-flex justify-center">
                <v-switch
                  label="PDI"
                  v-model="form.pdi"
                  :disabled="form.skillId && !skill.pdi"
                />
              </v-col>
              <v-col class="d-flex justify-center">
                <v-switch
                  label="Meta"
                  v-model="form.plano_meta"
                  :disabled="form.skillId && !skill.plano_meta"
                  @change="handleChangePlanoMeta"
                />
              </v-col>
              <!-- Setup Analise, Feedback e PDI -->

              <!-- Setup META -->
              <v-col cols="12" v-if="form.plano_meta">
                <v-row>
                  <v-col cols="12">
                    <span class="subtitle-1">
                      Metas
                      <span
                        v-if="form.skillId && !skill.plano_meta"
                        class="caption grey--text"
                        >(Não configuravel)</span
                      >
                    </span>
                  </v-col>
                  <v-col>
                    <v-select
                      :disabled="!form.plano_meta"
                      v-model="form.meta_estabelecida"
                      :items="skill.meta_estabelecida"
                      label="Meta estabelecida para a próxima avaliação"
                      hide-details="auto"
                      dense
                      outlined
                    />
                  </v-col>
                  <v-col>
                    <v-select
                      :disabled="!form.plano_meta"
                      v-model="form.prazo"
                      :items="skill.prazo"
                      label="Prazo meta estabelecida para próxima avaliação"
                      hide-details="auto"
                      dense
                      outlined
                    />
                  </v-col>
                  <v-col>
                    <v-select
                      :disabled="!form.plano_meta"
                      v-model="form.meta_final"
                      :items="skill.meta_final"
                      label="Meta final"
                      hide-details="auto"
                      dense
                      outlined
                    />
                  </v-col>
                </v-row>
              </v-col>
              <!-- Setup META -->
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer />
        <v-btn color="grey darken-1" text @click="handleClose">
          Cancelar
        </v-btn>

        <v-btn
          :loading="loading"
          type="submit"
          class="elevation-0"
          color="primary"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import validation from '@/helpers/validations'

import assessmentTypes from './avaliacoes'

export default {
  data: () => ({
    form: {
      name: '',
      assessmentId: '',
      skillId: '',
      analyze: false,
      feedback: false,
      pdi: false,
      plano_meta: false,
      meta_estabelecida: '',
      prazo: '',
      meta_final: '',
    },
    assessmentTypes,
    validation,
  }),
  computed: {
    ...mapGetters('account', ['loading']),
    skills() {
      const assessment = this.assessmentTypes.find(
        item => item.id === this.form.assessmentId
      )

      if (assessment) {
        return assessment.skills
      }

      return []
    },
    skill() {
      return this.skills.find(skill => skill.id === this.form.skillId)
    }
  },
  methods: {
    ...mapActions('account', ['addAssessment']),

    async handleSubmit() {
      const valid = this.$refs.form.validate()

      if (valid) {
        await this.addAssessment({ ...this.form })

        this.handleClose()
      }
    },
    handleClose() {
      this.$refs.form.reset()

      this.$emit('close')
    },
    handleChangeAssessment(e) {
      console.log('handleChangeAssessment', e)
      this.form = {
        ...this.form,
        analyze: false,
        feedback: false,
        pdi: false,
        plano_meta: false,
        meta_estabelecida: '',
        prazo: '',
        meta_final: '',
      }
    },
    handleChangeAssessmentType(e) {
      console.log('handleChangeAssessmentType', e)
      this.form = {
        ...this.form,
        analyze: false,
        feedback: false,
        pdi: false,
        plano_meta: false,
        meta_estabelecida: '',
        prazo: '',
        meta_final: '',
      }
    },
    handleChangePlanoMeta(e) {
      console.log('handleChangePlanoMeta', e)
      this.form = {
        ...this.form,
        meta_estabelecida: '',
        prazo: '',
        meta_final: '',
      }
    },
  },
}
</script>

<style lang="scss"></style>
