<template>
  <v-container>
    <v-form @submit.prevent="handleSubmit">
      <v-row class="my-5" align="center" no-gutters>
        <div>
          <div class="text-h6">Avaliações</div>

          <div class="text-body-2 grey--text ">
            Detalhes da ficha de cadastro do usuário
          </div>
        </div>

        <v-spacer />

        <v-btn class="elevation-0" color="primary" @click="dialog = true">
          Nova avaliação
        </v-btn>
      </v-row>

      <v-row>
        <v-col v-for="item in 9" :key="item" cols="12" md="3">
          <v-hover v-slot:default="{ hover }">
            <v-card
              :class="{ 'elevation-3': hover }"
              class="transition"
              outlined
            >
              <v-card-title>
                <v-row align="center" justify="space-between" no-gutters>
                  <div>
                    The Core Drivers
                  </div>

                  <v-menu offset-y>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn color="grey" icon v-bind="attrs" v-on="on">
                        <v-icon>mdi-dots-vertical</v-icon>
                      </v-btn>
                    </template>
                    <v-list>
                      <v-list-item v-for="item in 4" :key="item">
                        <v-list-item-title>item {{ item }}</v-list-item-title>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </v-row>
              </v-card-title>

              <v-divider />

              <v-card-text>
                <v-row>
                  <v-col cols="6">
                    <div>ID</div>

                    <div class="black--text font-weight-medium">FY28FCNnSc</div>
                  </v-col>

                  <v-col cols="6">
                    <div>Status</div>

                    <div
                      class="black--text font-weight-medium"
                      :class="item % 2 ? 'success--text' : 'error--text'"
                    >
                      {{ item % 2 ? 'Ativo' : 'Inativo' }}
                    </div>
                  </v-col>

                  <v-col cols="6">
                    <div>Total</div>

                    <div class="black--text font-weight-medium">30</div>
                  </v-col>

                  <v-col cols="6">
                    <div>Data criação</div>

                    <div class="black--text font-weight-medium">
                      {{ new Date().toLocaleDateString() }}
                    </div>
                  </v-col>
                </v-row>
              </v-card-text>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
    </v-form>

    <v-dialog v-model="dialog" max-width="600" persistent>
      <AssessmentCreate @close="dialog = false" />
    </v-dialog>
  </v-container>
</template>

<script>
export default {
  components: {
    AssessmentCreate: () => import('./AssessmentCreate'),
  },
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    dialog: false,
  }),
  methods: {
    handleSubmit() {},
    close() {},
  },
}
</script>

<style lang="scss" scoped>
.transition {
  cursor: pointer;
  transition: 0.3s;
}
</style>
