<template>
  <v-container fluid>
    <div class="my-5">
      <div class="text-h6">Dados do cadastro</div>

      <div class="text-body-2 grey--text ">
        Detalhes da ficha de cadastro do usuário
      </div>
    </div>

    <v-card class="pa-5" outlined>
      <v-form @submit.prevent="handleSubmit">
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              :value="account.name"
              :label="$t('page.account.form.name')"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              :value="account.cnpj"
              v-mask="'##.###.###/####-##'"
              label="CNPJ"
              hide-details="auto"
              outlined
              dense
            />
          </v-col>
        </v-row>
        <!-- TODO i18n -->
        <small>* indica que são campos obrigatórios</small>

        <v-card-actions class="pa-0 mt-5">
          <v-btn color="error" text>
            Deletar
          </v-btn>
          <v-spacer />

          <v-btn
            type="submit"
            class="elevation-0"
            color="primary"
            :loading="loading"
          >
            {{ $t('page.user.action.save') }}
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-container>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('account', ['account', 'loading']),
  },
  methods: {
    handleSubmit() {
      console.log('submit')
    },
  },
}
</script>
