<template>
  <v-container>
    <div class="my-5">
      <div class="text-h6">Configurações da conta</div>

      <div class="text-body-2 grey--text ">
        Configurações de avaliações disponiveis para conta e outros dados
      </div>
    </div>

    <v-card class="pa-5" outlined>
      <h1>opc 0</h1>
      <v-row>
        <v-col cols="6">
          <div class="text-h6">Core Drivers</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Core Drivers') ? 'Ativo' : 'Inativo'"
            value="Core Drivers"
            hide-details
          />
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Core Values</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Core Values') ? 'Ativo' : 'Inativo'"
            value="Core Values"
            hide-details
          />
        </v-col>

        <v-col cols="12">
          <v-divider />
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Goal Driver</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Goal Driver') ? 'Ativo' : 'Inativo'"
            value="Goal Driver"
            hide-details
          />
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Cognify</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Cognify') ? 'Ativo' : 'Inativo'"
            value="Cognify"
            hide-details
          />
        </v-col>

        <v-col cols="12">
          <v-divider />
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Raciocínio lógico</div>

          <v-switch
            v-model="selected"
            :label="
              selected.includes('Raciocínio lógico') ? 'Ativo' : 'Inativo'
            "
            value="Raciocínio lógico"
            hide-details
          />
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Argumentação</div>

          <v-switch
            v-model="selected"
            :label="
              selected.includes('Multiplas escolhas') ? 'Ativo' : 'Inativo'
            "
            value="Multiplas escolhas"
            hide-details
          />

          <v-switch
            v-model="selected"
            :label="selected.includes('Dissertativo') ? 'Ativo' : 'Inativo'"
            value="Dissertativo"
            hide-details
          />
        </v-col>

        <v-col cols="12">
          <v-divider />
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Português para Brasileiro</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Ler') ? 'Ativo' : 'Inativo'"
            value="Ler"
            hide-details
          />

          <v-switch
            v-model="selected"
            :label="selected.includes('Ouvir') ? 'Ativo' : 'Inativo'"
            value="Ouvir"
            hide-details
          />

          <v-switch
            v-model="selected"
            :label="selected.includes('Escrever') ? 'Ativo' : 'Inativo'"
            value="Escrever"
            hide-details
          />

          <v-switch
            v-model="selected"
            :label="selected.includes('Falar na Web') ? 'Ativo' : 'Inativo'"
            value="Falar na Web"
            hide-details
          />

          <v-switch
            v-model="selected"
            :label="
              selected.includes('Falar com Consultor') ? 'Ativo' : 'Inativo'
            "
            value="Falar com Consultor"
            hide-details
          />
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Idioma estrangeiro</div>

          <v-checkbox
            v-model="selected"
            label=""
            value="Português para Brasileiro"
          />

          <v-checkbox
            v-model="selected"
            label="Idioma estrangeiro"
            value="Idioma estrangeiro"
          />

          <v-select
            :items="[
              'Ler',
              'Ouvir',
              'Escrever',
              'Falar na Web',
              'Falar com Consultor',
            ]"
            chips
            outlined
            clearable
            deletable-chips
            multiple
          >
          </v-select>
          <v-select
            :items="[
              'inglês',
              'Espanhol',
              'Português para estrangeiros',
              'Alemão',
              'Francês',
              'Italiano',
            ]"
            chips
            outlined
            clearable
            deletable-chips
            multiple
          >
          </v-select>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5" outlined>
      <h1>opc 1</h1>
      <v-row>
        <v-col cols="4">
          <div class="text-h6">Core Drivers</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Core Drivers') ? 'Ativo' : 'Inativo'"
            value="Core Drivers"
            hide-details
          />
        </v-col>

        <v-col cols="4">
          <div class="text-h6">Core Values</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Core Values') ? 'Ativo' : 'Inativo'"
            value="Core Values"
            hide-details
          />
        </v-col>

        <v-col cols="4">
          <div class="text-h6">Goal Driver</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Goal Driver') ? 'Ativo' : 'Inativo'"
            value="Goal Driver"
            hide-details
          />
        </v-col>

        <v-col cols="12">
          <v-divider />
        </v-col>

        <v-col cols="4">
          <div class="text-h6">Cognify</div>

          <v-switch
            v-model="selected"
            :label="selected.includes('Cognify') ? 'Ativo' : 'Inativo'"
            value="Cognify"
            hide-details
          />
        </v-col>

        <v-col cols="4">
          <div class="text-h6">Raciocínio lógico</div>

          <v-switch
            v-model="selected"
            :label="
              selected.includes('Raciocínio lógico') ? 'Ativo' : 'Inativo'
            "
            value="Raciocínio lógico"
            hide-details
          />
        </v-col>

        <v-col cols="4">
          <div class="text-h6">Argumentação</div>

          <v-switch
            v-model="selected"
            label="Multiplas escolhas"
            value="Multiplas escolhas"
            hide-details
          />

          <v-switch
            v-model="selected"
            label="Dissertativo"
            value="Dissertativo"
            hide-details
          />
        </v-col>

        <v-col cols="12">
          <v-divider />
        </v-col>

        <v-col cols="12">
          <div class="text-h4">Avaliações de Idiomas</div>
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Português para Brasileiro</div>

          <v-switch v-model="selected" label="Ler" value="Ler" hide-details />

          <v-switch
            v-model="selected"
            label="Ouvir"
            value="Ouvir"
            hide-details
          />

          <v-switch
            v-model="selected"
            label="Escrever"
            value="Escrever"
            hide-details
          />

          <v-switch
            v-model="selected"
            label="Falar na Web"
            value="Falar na Web"
            hide-details
          />

          <v-switch
            v-model="selected"
            label="Falar com Consultor"
            value="Falar com Consultor"
            hide-details
          />
        </v-col>

        <v-col cols="6">
          <div class="text-h6">Idioma estrangeiro</div>

          <v-switch
            v-model="selected"
            :label="
              selected.includes('Idioma estrangeiro') ? 'Ativo' : 'Inativo'
            "
            value="Idioma estrangeiro"
            class="mb-5"
            hide-details
          />

          <v-select
            :items="[
              'Ler',
              'Ouvir',
              'Escrever',
              'Falar na Web',
              'Falar com Consultor',
            ]"
            label="Skills"
            chips
            outlined
            clearable
            deletable-chips
            multiple
          >
          </v-select>
          <v-select
            :items="[
              'inglês',
              'Espanhol',
              'Português para estrangeiros',
              'Alemão',
              'Francês',
              'Italiano',
            ]"
            label="Idiomas"
            chips
            outlined
            clearable
            deletable-chips
            multiple
          >
          </v-select>
        </v-col>
      </v-row>
    </v-card>

    <v-card class="pa-5" outlined>
      <h1>opc 2</h1>

      <v-expansion-panels accordion multiple focusable>
        <v-expansion-panel
          v-for="assessment in assessments"
          :key="assessment.name"
        >
          <v-expansion-panel-header>
            {{ assessment.name }}
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <v-row>
              <v-col cols="12">
                <v-row v-for="skill in assessment.skills" :key="skill.name">
                  <v-col cols="12">
                    <v-divider />
                  </v-col>
                  <v-col cols="6">
                    <v-switch
                      v-model="skill.active"
                      :label="skill.name"
                      hide-details
                    />
                  </v-col>
                  <v-col cols="6">
                    <v-checkbox
                      v-if="skill.analyze"
                      :disabled="!skill.active"
                      label="Analise"
                    />
                    <v-checkbox
                      v-if="skill.feedback"
                      :disabled="!skill.active"
                      label="Feedback"
                    />
                    <v-checkbox
                      v-if="skill.pdi"
                      :disabled="!skill.active"
                      label="PDI"
                    />
                    <v-checkbox
                      ref="plano"
                      v-if="skill.plano_meta"
                      :disabled="!skill.active"
                      label="Plano de metas"
                    />
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-card>

    <v-card class="pa-5" outlined>
      <h1>opc 3</h1>

      <table>
        <tr>
          <th style="width:20%">Opção</th>
          <th>Opção 1</th>
          <th>Opção 2</th>
          <th>Opção 3</th>
          <th>Opção 4</th>
          <th>Opção 5</th>
          <th>Opção 6</th>
        </tr>
        <tr>
          <td>Core Drivers</td>
          <td>
            <v-checkbox class="mt-0 pt-0" hide-details />
          </td>

          <td>
            <v-checkbox class="mt-0 pt-0" hide-details />
          </td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Core Values</td>
          <td>
            <v-checkbox class="mt-0 pt-0" hide-details />
          </td>
          <td>
            <v-checkbox class="mt-0 pt-0" hide-details />
          </td>

          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Goal Driver</td>
          <td>
            <v-checkbox class="mt-0 pt-0" hide-details />
          </td>
          <td>
            <v-checkbox class="mt-0 pt-0" hide-details />
          </td>

          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Cognify</td>
          <td>
            <v-checkbox class="mt-0 pt-0" hide-details />
          </td>
          <td>
            <v-checkbox class="mt-0 pt-0" hide-details />
          </td>

          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
        </tr>
        <tr>
          <td>Raciocínio lógico</td>
          <td>
            <v-checkbox />
          </td>

          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>x</td>
          <td>
            <v-checkbox />
          </td>
        </tr>
      </table>
    </v-card>
  </v-container>
</template>

<script>
import assessments from './avaliacoes'

export default {
  data: () => ({
    selected: [],
    assessments,
  }),
}
</script>

<style lang="scss" scoped>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: center;
  padding: 16px;
}

th:first-child,
td:first-child {
  text-align: left;
}

th {
  white-space: nowrap;
}

td:first-child {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  min-width: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.v-input__control {
  flex: 0 0 auto !important;
}
</style>
