<template>
  <div>
    <v-row no-gutters>
      <v-col cols="12" md="8" class="d-flex justify-start align-center">
        <v-chip v-if="selected.length" class="ma-2" close @click:close="clear">
          {{ selected.length }} selecionados
        </v-chip>

        <div v-if="selected.length === pagination.itemsPerPage">
          <p>
            All {{ pagination.itemsPerPage }} users on this page are selected.
            <span class="primary" @click="checkAll">
              Select all {{ pagination.itemsLength }} users
            </span>
          </p>
        </div>
        <div v-if="selected.length === pagination.itemsLength">
          <p>
            All {{ pagination.itemsLength }} users are selected.
            <span class="primary" @click="clear">Clear selection.</span>
          </p>
        </div>
      </v-col>
      <v-col cols="12" md="4" class="d-flex justify-end">
        <v-menu left offset-y>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              :disabled="selected.length <= 0"
              class="table__button mt-5"
              color="primary"
              v-bind="attrs"
              v-on="on"
              small
              elevation="0"
              tile
            >
              Ações
              <v-icon class="ml-1" size="20">mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list dense>
            <v-list-item-group color="primary">
              <v-list-item color="primary" @click="dialogAddGroup = true">
                <v-list-item-action>
                  <v-icon>mdi-account-multiple-plus</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>Criar Grupo</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item color="primary" @click="dialogDeleteGroup = true">
                <v-list-item-action>
                  <v-icon>mdi-account-multiple-minus</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>Remover Grupo</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item color="primary" @click="dialogAddAssessment = true">
                <v-list-item-action>
                  <v-icon>mdi-clipboard-account</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>Adicionar avaliações</v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item color="primary" @click="dialogDeleteUsers = true">
                <v-list-item-action>
                  <v-icon>mdi-delete</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                  <v-list-item-title>Deletar usuários</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-menu>
      </v-col>
    </v-row>

    <v-card class="mb-5 d-relative" outlined>
      <v-data-table
        v-model="selected"
        :headers="headers"
        :items="items"
        :items-per-page="pagination.itemsPerPage"
        show-select
        @pagination="e => $emit('pagination', e)"
        @click:row="e => $emit('click:row', e)"
      >
        <template v-slot:item.groups="{ item }">
          <v-chip
            v-for="group in item.groups"
            :key="group.id"
            class="pa-1 mr-1 grey white--text"
            small
            label
          >
            {{ group.name }}
          </v-chip>
        </template>
        <template v-slot:item.full_name="{ item }">
          <span> {{ item.first_name }} {{ item.last_name }} </span>
        </template>
        <template v-slot:item.create_at="{ item }">
          <span>
            {{ new Date(item.create_at).toLocaleDateString() }}
          </span>
        </template>
      </v-data-table>
    </v-card>

    <v-dialog v-model="dialogAddGroup" max-width="550">
      <v-card>
        <v-card-title>
          Adicione {{ selected.length }} usuários selecionados ao(s) grupo(s)
        </v-card-title>

        <v-card-text class="mt-5">
          <v-autocomplete
            :items="groups"
            label="Selecione os grupos"
            outlined
            dense
            chips
            small-chips
            multiple
            hint="Press enter to add a group or select one from a list"
          />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="handleAddGroup">
            Confirmar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogAddAssessment" max-width="550">
      <v-card>
        <v-card-title>
          Assign assessment to selected users
        </v-card-title>

        <v-card-text class="mt-5">
          <v-form
            ref="form"
            @submit.prevent="handleAddAssessment"
            v-model="formValid"
          >
            <v-select
              v-model="form.assessment"
              :items="['Teste 1', 'Teste 2']"
              label="Avaliação"
            />
            <v-checkbox v-model="form.notify" label="Notificar" />
            <v-btn :disabled="!formValid" type="submit">Adicionar</v-btn>
          </v-form>
          <v-list>
            <v-list-item
              v-for="assessment of assessments"
              :key="assessment.id">
              <v-list-item-content>
                <v-list-item-title>
                  {{ assessment.assessment }} -
                  {{ assessment.notify ? 'Com notificação' : 'Sem notificação' }}
                </v-list-item-title>
              </v-list-item-content>
              <v-list-item-action>
                <v-btn icon @click="handleDeleteAssessment(assessment)">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="handleAddGroup">
            Confirmar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDeleteUsers" max-width="550">
      <v-card>
        <v-card-title>
          Adicione {{ selected.length }} usuários selecionados ao(s) grupo(s)
        </v-card-title>

        <v-card-text class="mt-5">
          <v-autocomplete
            :items="groups"
            label="Selecione os grupos"
            outlined
            dense
            chips
            small-chips
            multiple
            hint="Press enter to add a group or select one from a list"
          />
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="handleAddGroup">
            Confirmar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog v-model="dialogDeleteGroup" max-width="550">
      <v-card>
        <v-card-title>
          Remover usuários selecionados do(s) grupo(s)
        </v-card-title>

        <v-card-text class="mt-5">
          <v-chip
            v-for="group in groups"
            :key="group"
            class="ml-1"
            close
            small
            >{{ group }}</v-chip
          >
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" text @click="handleAddGroup">
            Confirmar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  data: () => ({
    selected: [],
    groups: ['Grupo 1', 'Grupo 2', 'Grupo 3'],
    dialogAddGroup: false,
    dialogAddAssessment: false,
    dialogDeleteGroup: false,
    dialogDeleteUsers: false,
    assessments: [],
    formValid: false,
    form: {
      assessment: null,
      notify: null,
    },
  }),
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    headers: {
      type: Array,
      default: () => [],
    },
    pagination: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    checkAll() {
      this.selected = this.items
    },
    clear() {
      this.selected = []
    },
    handleAddGroup() {
      this.dialogAddGroup = false
      this.$emit('add:group', this.selected)
    },
    handleAddEvaluation() {
      this.dialogAddAssessment = false
      this.$emit('add:evaluation', this.selected)
    },
    handleDeleteGroup() {
      this.dialogDeleteGroup = false
      this.$emit('delete:group', this.selected)
    },
    handleDeleteUser() {
      this.dialogDeleteUsers = false
      this.$emit('delete:user', this.selected)
    },
    handleAddAssessment() {
      this.assessments.push({
        ...this.form,
        id: Math.floor(Math.random() * 1000),
      })
      this.$refs.form.reset()
    },
    handleDeleteAssessment({ id }) {
      this.assessments = this.assessments.filter(item => item.id !== id)
    }
  },
}
</script>

<style lang="scss" scoped>
.table__button {
  border-radius: 5px 5px 0 0;
}
</style>
