<template>
  <div>
    <PageTitle />

    <v-container class="mt-5 mb-16">
      <v-row no-gutters align="center">
        <div>
          <div class="text-h6">Avaliações cadastradas</div>

          <div class="text-body-2 grey--text ">
            Listagem de todas as avaliações
          </div>
        </div>

        <v-spacer />

        <Filters />
      </v-row>

      <Table
        :items="items"
        :headers="headers"
        :pagination="pagination"
        @pagination="handlePagination"
        @click:row="handleEdit"
      />
    </v-container>

    <Fab to="/assessment/detail" tooltip="Solicitar novo teste" />
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  components: {
    PageTitle: () => import('@/components/PageTitle'),
    Fab: () => import('@/components/Fab'),
    Table: () => import('./components/Table'),
    Filters: () => import('./components/Filters'),
  },
  data: () => ({
    pagination: {
      page: 1,
      itemsPerPage: 5,
      pageStart: 0,
      pageStop: 0,
      pageCount: 0,
      itemsLength: 0,
    },
    items: [
      {
        name: 'Frozen Yogurt',
        calories: 159,
        fat: 6.0,
        carbs: 24,
        protein: 4.0,
        iron: '1%',
      },
      {
        name: 'Ice cream sandwich',
        calories: 237,
        fat: 9.0,
        carbs: 37,
        protein: 4.3,
        iron: '1%',
      },
      {
        name: 'Eclair',
        calories: 262,
        fat: 16.0,
        carbs: 23,
        protein: 6.0,
        iron: '7%',
      },
      {
        name: 'Cupcake',
        calories: 305,
        fat: 3.7,
        carbs: 67,
        protein: 4.3,
        iron: '8%',
      },
      {
        name: 'Gingerbread',
        calories: 356,
        fat: 16.0,
        carbs: 49,
        protein: 3.9,
        iron: '16%',
      },
      {
        name: 'Jelly bean',
        calories: 375,
        fat: 0.0,
        carbs: 94,
        protein: 0.0,
        iron: '0%',
      },
      {
        name: 'Lollipop',
        calories: 392,
        fat: 0.2,
        carbs: 98,
        protein: 0,
        iron: '2%',
      },
      {
        name: 'Honeycomb',
        calories: 408,
        fat: 3.2,
        carbs: 87,
        protein: 6.5,
        iron: '45%',
      },
      {
        name: 'Donut',
        calories: 452,
        fat: 25.0,
        carbs: 51,
        protein: 4.9,
        iron: '22%',
      },
      {
        name: 'KitKat',
        calories: 518,
        fat: 26.0,
        carbs: 65,
        protein: 7,
        iron: '6%',
      },
    ],
  }),
  computed: {
    headers() {
      return [
        {
          text: 'Dessert (100g serving)',
          align: 'start',
          sortable: false,
          value: 'name',
        },
        { text: 'Calories', value: 'calories' },
        { text: 'Fat (g)', value: 'fat' },
        { text: 'Carbs (g)', value: 'carbs' },
        { text: 'Protein (g)', value: 'protein' },
        { text: 'Iron (%)', value: 'iron' },
      ]
    }
  },
  methods: {
    ...mapActions('assessment', ['getAssessments']),
    handlePagination(pagination) {
      this.pagination = pagination
    },
    handleEdit(id) {
      this.$router.push(`/assessment/detail/${id}`)
    },
  },
  mounted() {
    this.getAssessments()
  },
}
</script>
