<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />

    <v-container class="mt-5" fluid>
      <v-card class="pa-3" outlined>
        <v-row align="center">
          <v-col cols="12" md="6" lg="4" xl="3">
            <Search />
          </v-col>

          <v-spacer />

          <v-col cols="12" md="3" lg="2" xl="2">
            <Import />
          </v-col>

          <v-col cols="12" md="3" lg="2" xl="2">
            <Filters
              :headers="headerFilter"
              @change:header="handleChangeHeader"
              @sortable:headers="handleSortableHeaders"
            />
          </v-col>
        </v-row>
      </v-card>

      <Table
        :items="accounts"
        :headers="headerTable"
        :pagination="pagination"
        @pagination="handlePagination"
        @click:row="handleEdit"
      />
    </v-container>

    <v-dialog v-model="dialog" max-width="600" persistent>
      <Create @close="dialog = false" />
    </v-dialog>

    <Fab tooltip="Criar nova conta" @click="dialog = true" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  components: {
    Breadcrumbs: () => import('@/components/Breadcrumbs'),
    Fab: () => import('@/components/Fab'),
    Table: () => import('./components/Table'),
    Filters: () => import('./components/Filters'),
    Search: () => import('./components/Search'),
    Create: () => import('./components/Create'),
    Import: () => import('./components/Import'),
  },
  data: () => ({
    dialog: false,
    pagination: {
      page: 1,
      itemsPerPage: 20,
      pageStart: 0,
      pageStop: 0,
      pageCount: 0,
      itemsLength: 0,
    },
    breadcrumbs: [
      {
        text: 'Contas',
        href: '/account',
      },
    ],
    headers: [
      {
        text: 'Nome',
        value: 'name',
        active: true,
      },
      {
        text: 'Linguagem',
        value: 'language',
        active: true,
      },
      {
        text: 'CNPJ',
        value: 'cnpj',
        active: true,
      },
      {
        text: 'Indentificador',
        value: 'id',
        active: false,
      },
    ],
  }),
  computed: {
    ...mapGetters('account', ['accounts', 'error', 'loading']),
    headerTable() {
      return this.headers.filter(header => header.active)
    },
    headerFilter() {
      return this.headers
    },
  },
  methods: {
    ...mapActions('account', ['getAccounts']),

    handlePagination(pagination) {
      this.pagination = pagination
    },
    handleEdit({ id }) {
      this.$router.push(`/account/detail/${id}/data`)
    },
    handleChangeHeader({ value, active }) {
      this.headers = this.headers.map(header => ({
        ...header,
        active: header.value === value ? !active : header.active,
      }))
    },
    handleSortableHeaders(headers) {
      this.headers = headers
    },
  },
  mounted() {
    this.getAccounts()
  },
}
</script>

<style lang="scss" scoped>
.search {
  max-width: 400px;
}
</style>
