<template>
  <v-card>
    <v-form ref="form" @submit.prevent="handleSubmit">
      <v-card-title>Criar nova conta</v-card-title>
      <v-divider />

      <v-card-text>
        <v-row>
          <v-col cols="12">
            <v-text-field
              v-model="form.name"
              :rules="[validation.required]"
              label="Nome *"
              hide-details="auto"
              dense
              outlined
            />
          </v-col>

          <v-col cols="12" md="6">
            <v-select
              v-model="form.language"
              :items="languages"
              :rules="[validation.required]"
              label="Linguagem *"
              hide-details="auto"
              dense
              outlined
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.cnpj"
              :rules="[validation.required]"
              v-mask="['##.###.###/####-##']"
              label="CNPJ *"
              hide-details="auto"
              dense
              outlined
            />
          </v-col>

          <v-col cols="12">
            <v-select
              v-model="form.parent_account"
              :rules="[validation.required]"
              :items="accounts"
              item-text="name"
              item-value="id"
              label="Conta mãe *"
              hide-details="auto"
              dense
              outlined
            />
          </v-col>
        </v-row>
      </v-card-text>

      <v-divider />

      <v-card-actions>
        <v-spacer />
        <v-btn color="grey darken-1" text @click="handleClose">
          Cancelar
        </v-btn>

        <v-btn
          :loading="loading"
          type="submit"
          class="elevation-0"
          color="primary"
        >
          Salvar
        </v-btn>
      </v-card-actions>
    </v-form>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import unmask from '@/helpers/unmask'

import validation from '@/helpers/validations'

export default {
  data: () => ({
    form: {
      name: '',
      language: '',
      cnpj: '',
      parent_account: '',
      active: true,
    },
    languages: [
      { value: 'pt-br', text: 'Português (pt-BR)' },
      { value: 'en-US', text: 'Inglês (en-US)' },
      { value: 'es', text: 'Espanhol (es)' },
    ],
    validation,
  }),
  computed: {
    ...mapGetters('account', ['loading', 'accounts', 'account']),
  },
  methods: {
    ...mapActions('account', ['createAccount']),

    async handleSubmit() {
      const valid = this.$refs.form.validate()

      if (valid) {
        const data = this.formatData()

        await this.createAccount(data)

        // this.$router.push({
        //   path: `/account/detail/${this.account.id}/assessment`,
        // })
        // FIXME: Qual seria melhor experiencia
        // mostrar feedback que foi criado e se deseja navegar para configurar
        // Caso não apenas feche o modal
        this.handleClose()
      }
    },
    handleClose() {
      this.$refs.form.reset()

      this.$emit('close')
    },
    formatData() {
      const { form } = this

      form.cnpj = unmask(form.cnpj)

      return form
    },
  },
}
</script>
