<template>
  <div>
    <v-btn color="primary" outlined block @click="$emit('import')">
      Importar
      <v-icon right>mdi-database-import</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {}
</script>
