<template>
  <v-text-field v-model="search" label="Buscar" outlined dense hide-details />
</template>

<script>
import { mapActions } from 'vuex'
// import debounce from 'lodash/debounce'

export default {
  data: () => ({
    search: null,
  }),
  methods: {
    ...mapActions('account', ['getAccounts']),
    // TODO: implementar logica de search
  },
}
</script>

<style></style>
