<template>
  <div>
    <v-tooltip v-if="tooltip" left transition="fade-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          :to="to"
          :style="moveForBottomNavigation"
          v-bind="attrs"
          v-on="on"
          fixed
          bottom
          right
          fab
          @click="$emit('click')"
        >
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </template>
      <span>{{ tooltip }}</span>
    </v-tooltip>

    <v-btn
      v-else
      color="primary"
      :to="to"
      :style="moveForBottomNavigation"
      fixed
      bottom
      right
      fab
      @click="$emit('click')"
    >
      <v-icon>mdi-plus</v-icon>
    </v-btn>
  </div>
</template>

<script>
export default {
  props: {
    to: {
      type: String,
      default: '',
    },
    tooltip: {
      type: String,
      default: '',
    },
  },
  computed: {
    moveForBottomNavigation() {
      if (this.$vuetify.breakpoint.mobile) {
        return 'bottom: 65px'
      }

      return ''
    },
  },
}
</script>
