<template>
  <v-form ref="form" v-model="form.valid" @submit.prevent="submit">
    <v-row>
      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.fullname"
          :rules="[rules.required]"
          :label="$t('page.user.form.fullname')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.email"
          :rules="[rules.required]"
          :label="$t('page.user.form.email')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.company"
          :rules="[rules.required]"
          :label="$t('page.user.form.company')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.user_id_company"
          :rules="[rules.required]"
          :label="$t('page.user.form.user_id_company')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.login"
          :rules="[rules.required]"
          :label="$t('page.user.form.login')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.password"
          :rules="[rules.required]"
          :label="$t('page.user.form.password')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.tax_id"
          v-mask="'###.###.###-##'"
          :rules="[rules.required]"
          :label="$t('page.user.form.tax_id')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-select
          v-model="form.language"
          :items="languages"
          :rules="[rules.required]"
          :label="$t('page.user.form.language')"
          outlined
          hide-details="auto"
        ></v-select>
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.cost_center"
          :rules="[rules.required]"
          :label="$t('page.user.form.cost_center')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-text-field
          v-model="form.phone"
          v-mask="[
            '(##) ##### ####',
          ]"
          :rules="[rules.required]"
          :label="$t('page.user.form.phone')"
          type="text"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-checkbox
          v-model="form.psychological"
          :label="$t('page.user.form.psychological')"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-select
          v-model="form.gender"
          :items="genders"
          :rules="[rules.required]"
          :label="$t('page.user.form.gender')"
          outlined
          hide-details="auto"
        ></v-select>
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-menu
          v-model="menuDate"
          :close-on-content-click="false"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-text-field
              v-model="form.date_of_birth"
              :label="$t('page.user.form.date_of_birth')"
              :rules="[rules.required]"
              readonly
              outlined
              hide-details="auto"
              v-bind="attrs"
              v-on="on"
            />
          </template>
          <v-date-picker
            v-model="form.date_of_birth"
            @input="menuDate = false"
          />
        </v-menu>
      </v-col>

      <v-col cols="12" sm="6" md="3">
        <v-checkbox
          v-model="form.active"
          :label="$t('page.user.form.active')"
          outlined
          hide-details="auto"
        />
      </v-col>

      <v-col cols="12" class="d-flex flex-row-reverse" >
        <v-btn
          color="success"
          class="mr-4"
          type="submit"
        >
          {{ $t('page.user.action.save') }}
        </v-btn>

        <v-btn
          color="error"
          class="mr-4"
          @click="reset"
        >
          {{ $t('page.user.action.clear') }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import rules from '@/utils/rules'

export default {
  data: () => ({
    rules,
    form: {
      valid: false,
      fullname: null,
      email: null,
      company: null,
      user_id_company: null,
      login: null,
      password: null,
      tax_id: null,
      language: null,
      cost_center: null,
      phone: null,
      psychological: null,
      gender: null,
      date_of_birth: null,
      active: null,
    },
    menuDate: false,
    languages: [
      'English',
      'Español',
      'Português',
    ],
    genders: [
      'Masculino',
      'Feminino'
    ]
  }),
  methods: {
    submit() {
      if (this.form.valid) {
        // Send
      } else {
        this.$refs.form.validate()
      }
    },
    reset() {
      this.$refs.form.reset()
    }
  }
}
</script>
