<template>
  <div>
    <Breadcrumbs />

    <v-container class="mt-5 mb-16" fluid>
      <v-row no-gutters align="center">
        <v-text-field
          placeholder="Buscar..."
          background-color="white"
          outlined
          dense
          hide-details
        />

        <v-spacer />

        <Filters
          :headers="headerFilter"
          @change:header="handleChangeHeader"
          @sortable:headers="handleSortableHeaders"
        />
      </v-row>

      <Table
        :items="users"
        :headers="headerTable"
        :pagination="pagination"
        @pagination="handlePagination"
        @click:row="handleEdit"
        @add:evaluation="handleAddEvaluation"
        @add:group="handleAddGroup"
        @delete:group="handleRemoveGroup"
        @delete:user="handleDeleteUser"
      />
    </v-container>

    <Fab to="/user/detail" tooltip="Criar novo usuário" />
  </div>
</template>

<script>
import { userService } from '@/services'

export default {
  components: {
    Breadcrumbs: () => import('@/components/Breadcrumbs'),
    Fab: () => import('@/components/Fab'),
    Table: () => import('./components/Table'),
    Filters: () => import('./components/Filters'),
  },
  data: () => ({
    users: [],
    loading: true,
    error: null,
    pagination: {
      page: 0,
      itemsPerPage: 10,
      pageStart: 0,
      pageStop: 0,
      pageCount: 0,
      itemsLength: 0,
    },
    headers: [
      { text: 'Nome completo', value: 'full_name', active: true },
      {
        text: 'Primeiro nome',
        align: 'start',
        sortable: false,
        value: 'first_name',
        active: false,
      },
      { text: 'Ultimo nome', value: 'last_name', active: false },
      { text: 'Grupos', value: 'groups', active: true },
      { text: 'E-mail', value: 'email', active: true },
      { text: 'Conta', value: 'account.name', active: true },
      { text: 'Pais', value: 'country', active: true },
      { text: 'Data Criação', value: 'create_at', active: false },
    ],
  }),
  computed: {
    headerTable() {
      return this.headers.filter(header => header.active)
    },
    headerFilter() {
      return this.headers
    },
  },
  methods: {
    async getUsers(filters) {
      try {
        this.loading = true

        this.users = await userService.findAll(filters)
      } catch (error) {
        this.error = error.message
      } finally {
        this.loading = false
      }
    },
    handlePagination(pagination) {
      console.log(pagination)
      this.pagination = pagination
    },
    handleEdit({ id }) {
      this.$router.push(`/user/detail/${id}`)
    },
    handleChangeHeader({ value, active }) {
      this.headers = this.headers.map(header => ({
        ...header,
        active: header.value === value ? !active : header.active,
      }))
    },
    handleSortableHeaders(headers) {
      this.headers = headers
    },
    handleAddGroup(users) {
      console.log('handleAddGroup', users)
    },
    handleRemoveGroup(users) {
      console.log('handleRemoveGroup', users)
    },
    handleAddEvaluation(users) {
      console.log('handleAddEvaluation', users)
    },
    handleDeleteUser(users) {
      console.log('handleDeleteUser', users)
    },
  },
  mounted() {
    this.getUsers()
  },
}
</script>
