<template>
  <div>
    <apexchart type="donut" :options="options" :series="donaSeries" />

    <br />
    <apexchart type="donut" :options="donaOptions" :series="donaSeries" />
  </div>
</template>

<script>
import { randomUuid } from '@/utils/uuid'

export default {
  data: () => ({
    donaOptions: {
      chart: {
        height: 350,
        id: randomUuid(),
      },
      colors: ['#1070ca', '#ec4c47', '#f7d154'],
      labels: ['Na média', 'Acima da média', 'Abaixo da média'],
      legend: {
        itemMargin: {
          vertical: 10,
        },
        formatter: (v, o) => {
          const percentage = `${o.w.config.series[o.seriesIndex]}%`
          return `${v} <span style="background-color: red;">${percentage}</span>`
        },
      },
      dataLabels: {
        enabled: false,
      },
      plotOptions: {
        pie: {
          expandOnClick: false,
          // customScale: 0.8,
          // donut: {
          //   size: '80',
          //   labels: {
          //     show: true,
          //     // name: {
          //     //   ...
          //     // },
          //     // value: {
          //     //   ...
          //     // }
          //   }
          // }
        },
      },
      yaxis: {
        labels: {
          formatter: value => `${value} %`,
        },
      },
    },
    donaSeries: [60, 25, 15],
    options: {
      chart: {
        id: randomUuid(),
      },
      dataLabels: {
        enabled: false,
      },
      stroke: {
        curve: 'smooth',
      },
      series: [
        {
          name: 'series1',
          data: [31, 40, 28, 51, 42, 109, 100],
        },
        {
          name: 'series2',
          data: [11, 32, 45, 32, 34, 52, 41],
        },
      ],

      xaxis: {
        type: 'datetime',
        categories: [
          '2018-09-19T00:00:00',
          '2018-09-19T01:30:00',
          '2018-09-19T02:30:00',
          '2018-09-19T03:30:00',
          '2018-09-19T04:30:00',
          '2018-09-19T05:30:00',
          '2018-09-19T06:30:00',
        ],
      },
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm',
        },
      },
    },
  }),
}
</script>
