<template>
  <div>
    <apexchart type="heatmap" :options="options" :series="series" />

    <apexchart type="heatmap" :options="options1" :series="series1" />
  </div>
</template>

<script>
import { randomUuid } from '@/utils/uuid'
import _data from './data'

export default {
  data: () => ({
    options: {
      chart: {
        id: randomUuid(),
      },
      dataLabels: {
        enabled: false,
      },
      colors: ['#C0454C'],
      // title: {
      //   text: 'HeatMap Chart (Single color)',
      // },
    },
    options1: {
      chart: {
        id: randomUuid(),
      },
      dataLabels: {
        enabled: false,
      },
      xaxis: {
        type: 'category',
        categories: ['n1', 'n2', 'n3'],
        labels: {
          formatter: v => `${v} %`,
        },
      },
      plotOptions: {
        heatmap: {
          radius: 30,
          enableShades: false,
          // colorScale: {
          //   ranges: [{
          //       from: 0,
          //       to: 50,
          //       color: '#008FFB'
          //     },
          //     {
          //       from: 51,
          //       to: 100,
          //       color: '#00E396'
          //     },
          //   ],
          // },
        },
      },
      colors: ['#C0454C'],
      // title: {
      //   text: 'HeatMap Chart (Single color)',
      // },
      // yaxis: {
      //   labels: {
      //     formatter: (value) => `${value} %`,
      //   },
      // }
    },
    series1: [
      { name: 'itor', data: [1, 2, 3] },
      { name: 'maria', data: [1, 3, 3] },
      { name: 'joao', data: [2, 1, 3] },
      { name: 'carol', data: [1, 1, 3] },
      { name: 'vini', data: [3, 3, 3] },
    ],
    values: _data,
  }),
  computed: {
    series() {
      return this.values.map(candidato => ({
        name: candidato.name,
        data: Object.keys(candidato.results).map(key => ({
          x: key,
          y: candidato.results[key],
        })),
      }))
    },
  },
}
</script>
