<template>
  <apexchart type="line" :options="chartOptions" :series="series" />
</template>

<script>
// import { randomUuid } from '@/utils/uuid'

export default {
  data: () => ({
    chartOptions: {
      xaxis: {
        categories: [1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998],
      },
    },
    series: [
      {
        name: 'series-1',
        data: [30, 40, 35, 50, 49, 60, 70, 91],
      },
    ],
  }),
}
</script>
