<template>
  <div ref="chart" class="chart"></div>
</template>

<script>
import ApexCharts from 'apexcharts'
import { randomUuid } from '@/utils/uuid'

export default {
  mounted() {
    const optionsRadar = {
      chart: {
        type: 'radar',
        id: randomUuid
      },
      // fill: {
      //   opacity: 0.5,
      //   colors: []
      // },
      // dataLabels: {
      //   enabled: true,
      //   background: {
      //     enabled: true,
      //     borderRadius: 2
      //   }
      // },
      series: [
        {
          name: 'Radar Series 1',
          data: [45, 52, 38, 24, 33, 10]
        },
        {
          name: 'Radar Series 2',
          data: [26, 21, 20, 6, 8, 15]
        }
      ],
      labels: ['April', 'May', 'June', 'July', 'August', 'September'],
      // yaxis: {
      //   show: true,
      //   showAlways: true,
      //   showForNullSeries: true,
      //   seriesName: undefined,
      //   opposite: false,
      //   reversed: false,
      //   logarithmic: false,
      //   tickAmount: 6,
      //   min: 6,
      //   max: 6,
      //   forceNiceScale: false,
      //   floating: false,
      //   decimalsInFloat: undefined,
      //   labels: {
      //     show: true,
      //     align: 'right',
      //     minWidth: 0,
      //     maxWidth: 160,
      //     style: {
      //       colors: [],
      //       fontSize: '12px',
      //       fontFamily: 'Helvetica, Arial, sans-serif',
      //       fontWeight: 400,
      //       cssClass: 'apexcharts-yaxis-label',
      //     },
      //     offsetX: 0,
      //     offsetY: 0,
      //     rotate: 0,
      //     formatter: (value) => value,
      //   },
      //   axisBorder: {
      //     show: true,
      //     color: '#78909C',
      //     offsetX: 0,
      //     offsetY: 0
      //   },
      //   axisTicks: {
      //     show: true,
      //     borderType: 'solid',
      //     color: '#78909C',
      //     width: 6,
      //     offsetX: 0,
      //     offsetY: 0
      //   },
      //   title: {
      //     text: undefined,
      //     rotate: -90,
      //     offsetX: 0,
      //     offsetY: 0,
      //     style: {
      //       color: undefined,
      //       fontSize: '12px',
      //       fontFamily: 'Helvetica, Arial, sans-serif',
      //       fontWeight: 600,
      //       cssClass: 'apexcharts-yaxis-title',
      //     },
      //   },
      //   crosshairs: {
      //     show: true,
      //     position: 'back',
      //     stroke: {
      //       color: '#b6b6b6',
      //       width: 1,
      //       dashArray: 0,
      //     },
      //   },
      //   tooltip: {
      //     enabled: true,
      //     offsetX: 0,
      //   },
      // }
    }

    if (this.$refs.chart) {
      const chart = new ApexCharts(this.$refs.chart, optionsRadar)
      chart.render()
    }
  }
}
</script>
