<template>
  <v-list>
    <v-list-item
      v-for="entry in languages"
      :key="entry.title"
      @click="changeLocale(entry.language)"
    >
      <v-list-item-action>
        <flag :iso="entry.flag" v-bind:squared="false" />
      </v-list-item-action>

      <v-list-item-content>
        <v-list-item-title> {{ entry.title }}</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
import i18n from '@/plugins/i18n'

export default {
  name: 'i18n',
  data: () => ({
    languages: [
      { flag: 'us', language: 'en', title: 'English' },
      { flag: 'es', language: 'es', title: 'Español' },
      { flag: 'br', language: 'pt', title: 'Português' },
    ],
  }),
  methods: {
    changeLocale(locale) {
      i18n.locale = locale
    },
  },
}
</script>
