<template>
  <v-row class="primary px-4 px-md-8 py-5 py-md-10" align="center" no-gutters>
    <v-btn
      v-if="back"
      class="elevation-0 ml-3 mr-5"
      :to="back"
      exact
      fab
      dark
      small
      color="#ffffff30"
    >
      <v-icon>mdi-chevron-left</v-icon>
    </v-btn>

    <h1 class="text-h4 white--text font-weight-medium">
      {{ $route.name }}
    </h1>

    <v-spacer />

    <v-btn
      class="elevation-0"
      color="#ffffff30"
      fab
      dark
      small
      @click="$emit('help')"
    >
      <v-icon>mdi-help-circle-outline</v-icon>
    </v-btn>
  </v-row>
</template>

<script>
export default {
  props: {
    back: {
      type: String,
      default: '',
      required: false,
    },
  },
}
</script>
