@import 'vuetify/src/styles/styles.sass';

$heading-font-family: 'Open Sans', sans-serif;
$body-font-family: 'Open Sans', sans-serif;
$btn-font-weight: 600;
$list-item-dense-title-font-weight: 600;

$headings: map-deep-merge(
  $headings,
  (
    'h6': (
      'size': 1.25rem,
      'weight': 600,
      'line-height': 2rem,
      'letter-spacing': 0.0125em,
      'font-family': $heading-font-family,
      'text-transform': false,
    ),
    'subtitle-2': (
      'size': 0.875rem,
      'weight': 600,
      'line-height': 1.375rem,
      'letter-spacing': 0.0071428571em,
      'font-family': $body-font-family,
      'text-transform': false,
    ),
    'button': (
      'size': 0.875rem,
      'weight': 600,
      'line-height': 2.25rem,
      'letter-spacing': 0.0892857143em,
      'font-family': $body-font-family,
      'text-transform': uppercase,
    ),
  )
);

$font-weights: map-deep-merge(
  $font-weights,
  (
    'medium': 600,
    'bold': 700,
    'black': 800,
  )
);

$material-light: map-deep-merge(
  $material-light,
  (
    'background': #f9f9f9,
  )
);

// $breadcrumbs-item-large-font-size: 20px;

.theme--light.v-tabs-items {
  background-color: #f9f9f9;
}

.v-breadcrumbs li {
  font-weight: 600;
}
