<template>
  <div>
    <Breadcrumbs />

    <v-tabs v-model="tab" :grow="$vuetify.breakpoint.smAndDown" class="ml-md-5">
      <v-tab>
        Dados
      </v-tab>

      <v-tab>
        Avaliações
      </v-tab>

      <v-tab>
        Grupos e permissões
      </v-tab>
    </v-tabs>

    <div class="tab--line" />

    <v-tabs-items v-model="tab">
      <v-tab-item>
        <Data />
      </v-tab-item>

      <v-tab-item>
        <Assessment />
      </v-tab-item>

      <v-tab-item>
        <GroupsAndRights />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import { userService } from '@/services'

export default {
  components: {
    Breadcrumbs: () => import('@/components/Breadcrumbs'),
    Data: () => import('./components/Data'),
    Assessment: () => import('./components/Assessment'),
    GroupsAndRights: () => import('./components/GroupsAndRights'),
  },
  data: () => ({
    loading: true,
    error: null,
    user: null,
    tab: null,
    dialog: false,
  }),
  methods: {
    handleSubmit() {
      setTimeout(() => {
        this.dialog = false
      }, 2000)
    },
    async getUser(id) {
      try {
        this.loading = true

        this.user = await userService.findOne(id)
      } catch (error) {
        this.error = error.message
      } finally {
        this.loading = false
      }
    },
  },
  mounted() {
    const { id } = this.$route.params

    if (id) {
      this.getUser(id)
    } else {
      this.dialog = true
    }
  },
}
</script>
