<template>
  <div>
    <v-app-bar color="primary" app flat dark clipped-left>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />

      <router-link to="/" v-if="!$vuetify.breakpoint.mobile">
        <v-img class="ml-5" max-width="150px" :src="Logo" />
      </router-link>

      <v-spacer />

      <v-menu v-model="languageMenu" offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" icon>
            <v-icon>mdi-web</v-icon>
          </v-btn>
        </template>

        <i18n />
      </v-menu>

      <v-menu v-model="userMenu" :close-on-content-click="false" offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" class="ml-2" text>
            Vinicius Vicentini

            <v-icon size="20">mdi-menu-down</v-icon>
          </v-btn>
        </template>

        <v-divider />

        <v-list>
          <v-list-item>
            <v-list-item-action>
              <v-switch v-model="$vuetify.theme.dark" hide-details inset />
            </v-list-item-action>
            <v-list-item-title>{{ $t('menu.mode_label') }}</v-list-item-title>
          </v-list-item>

          <v-list-item to="/profile">
            <v-list-item-title>Perfil</v-list-item-title>
          </v-list-item>

          <v-list-item to="/login">
            <v-list-item-title>Sair</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>

    <v-navigation-drawer :mini-variant="drawer" app clipped>
      <v-list dense>
        <v-list-item to="/" color="primary">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.home') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/account" color="primary">
          <v-list-item-action>
            <v-icon>mdi-account</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.account') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/assessment" color="primary">
          <v-list-item-action>
            <v-icon>mdi-book-open</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.assessment') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/user" color="primary">
          <v-list-item-action>
            <v-icon>mdi-account-supervisor</v-icon>
          </v-list-item-action>

          <v-list-item-content>
            <v-list-item-title>{{ $t('menu.user') }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import Icon from '@/assets/images/icon.png'
import Logo from '@/assets/images/logo.png'

export default {
  components: {
    i18n: () => import('@/components/i18n'),
  },
  data: () => ({
    drawer: false,
    userMenu: false,
    languageMenu: false,
    Icon,
    Logo,
  }),
}
</script>
