<template>
  <div>
    <v-item-group class="text-right">
      <v-btn class="mr-5" color="primary" outlined @click="$emit('import')">
        <span>Importar</span>
        <v-icon right>mdi-database-import</v-icon>
      </v-btn>

      <v-btn color="primary elevation-0" @click="drawer = true">
        <span>Filtros</span>
        <v-icon right>mdi-tune</v-icon>
      </v-btn>
    </v-item-group>

    <v-navigation-drawer
      v-model="drawer"
      width="400"
      app
      temporary
      right
      bottom
    >
      <v-toolbar color="primary" dark dense flat>
        <span class="text-button">Filtros</span>

        <v-spacer />

        <v-btn icon @click="drawer = !drawer">
          <v-icon>mdi-close</v-icon>
        </v-btn>
      </v-toolbar>

      <v-row class="px-6 mt-5">
        <v-col cols="12">
          <v-text-field label="Nome" dense outlined hide-details />
        </v-col>

        <v-col cols="12">
          <v-text-field label="Login" dense outlined hide-details />
        </v-col>

        <v-col cols="12">
          <v-text-field label="E-mail" dense outlined hide-details />
        </v-col>

        <v-col cols="12">
          <v-text-field label="Empresa" dense outlined hide-details />
        </v-col>

        <v-col cols="12">
          <v-switch label="Inativos" />
        </v-col>

        <v-col cols="4">
          <v-btn
            class="elevation-0"
            color="primary"
            block
            large
            outlined
            @click="drawer = !drawer"
          >
            Limpar
          </v-btn>
        </v-col>

        <v-col cols="8">
          <v-btn class="elevation-0" color="primary" block large>
            Filtrar
          </v-btn>
        </v-col>
      </v-row>
    </v-navigation-drawer>
  </div>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
  }),
}
</script>
