<template>
  <div>
    <div class="text-right">
      <v-menu left offset-y>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="elevation-0 table__button mt-5"
            color="primary"
            v-bind="attrs"
            v-on="on"
            small
            tile
          >
            <v-icon size="20">mdi-cog</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item>
            <v-list-item-title>Menu</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </div>

    <v-card class="mb-5 d-relative" outlined>
      <v-data-table
        :headers="headers"
        :items="items"
        :items-per-page="pagination.itemsPerPage"
        show-select
        @pagination="$emit('pagination')"
        @click:row="$emit('click:row')"
      />
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    headers: {
      type: Array,
      default: () => [],
    },
    pagination: {
      type: Object,
      default() {
        return {
          pageStart: 0,
          pageStop: 0,
          pageCount: 0,
          itemsLength: 0,
        }
      },
    },
  },
}
</script>

<style lang="scss" scoped>
.table__button {
  border-radius: 5px 5px 0 0;
}
</style>
