<template>
  <v-row class="white px-6" align="center" no-gutters>
    <v-icon color="primary" left>mdi-home-variant-outline</v-icon>

    <v-breadcrumbs class="px-0" :items="items">
      <template v-slot:divider>
        <v-icon>mdi-chevron-right</v-icon>
      </template>
    </v-breadcrumbs>
  </v-row>
</template>

<script>
export default {
  props: {
    items: {
      type: Array,
      default: () => [],
    },
  },
}
</script>
