<template>
  <v-container>
    <h1 class="text-h6">
      {{ $t('menu.home') }}
    </h1>

    <v-lazy height="500">
      <Bar class="chart" />
    </v-lazy>

    <v-lazy height="500">
      <Combo class="chart" />
    </v-lazy>

    <v-lazy height="500">
      <Donut class="chart" />
    </v-lazy>

    <v-lazy height="500">
      <Line class="chart" />
    </v-lazy>

    <v-lazy height="500">
      <Radar class="chart" />
    </v-lazy>

    <v-lazy height="500">
      <RadialBar class="chart" />
    </v-lazy>

    <v-lazy height="500">
      <Heatmap />
    </v-lazy>

    <v-lazy height="500">
      <Stacked />
    </v-lazy>
  </v-container>
</template>

<script>
import {
  Bar,
  Combo,
  Donut,
  Line,
  Radar,
  RadialBar,
  Heatmap,
  Stacked,
} from '@/components/Charts'

export default {
  components: {
    Bar,
    Combo,
    Donut,
    Line,
    Radar,
    RadialBar,
    Heatmap,
    Stacked,
  },
  data: () => ({
    drawer: false,
  }),
}
</script>

<style lang="scss" scoped>
.chart {
  max-width: 500px;
}
</style>
