<template>
  <v-app>
    <v-layout>
      <Drawer @logout="handleLogout" />

      <v-main>
        <v-fade-transition mode="out-in">
          <router-view />
        </v-fade-transition>
      </v-main>
    </v-layout>
  </v-app>
</template>

<script>
export default {
  components: {
    Drawer: () => import('@/components/Drawer'),
  },
  methods: {
    async handleLogout() {
      this.$router.push({ path: '/login' })
    },
  },
}
</script>
