<template>
  <section class="wrapper" :style="{ backgroundImage: `url(${Login})` }">
    <v-container class="fill-height" fluid>
      <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="5" lg="4">
          <v-card outlined>
            <v-card-text>
              <v-img class="mb-5" :src="Logo" height="80" contain />

              <v-form @submit.prevent="handleSubmit">
                <v-text-field
                  v-model="username"
                  :rules="[rules.required]"
                  :label="$t('page.login.form.username')"
                  :placeholder="$t('page.login.form.username_placeholder')"
                  :disabled="loading"
                  type="text"
                  prepend-inner-icon="mdi-account"
                  hide-details="auto"
                  outlined
                />

                <v-text-field
                  v-model="password"
                  :rules="[rules.required]"
                  :type="showPassword ? 'text' : 'password'"
                  :label="$t('page.login.form.password')"
                  :placeholder="$t('page.login.form.password_placeholder')"
                  :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                  :disabled="loading"
                  class="mt-5"
                  prepend-inner-icon="mdi-lock"
                  hide-details="auto"
                  outlined
                  @click:append="showPassword = !showPassword"
                />

                <p v-if="error" class="mt-5 error--text">
                  {{ error }}
                </p>

                <v-btn
                  type="submit"
                  class="elevation-0 mt-5"
                  color="primary"
                  :loading="loading"
                  block
                  x-large
                >
                  {{ $t('page.login.action.login') }}
                </v-btn>
              </v-form>

              <v-btn :disabled="loading" class="mt-4" color="grey" text block>
                {{ $t('page.login.action.forgot_password') }}
              </v-btn>
            </v-card-text>
            <v-spacer />
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

import Logo from '@/assets/images/logo.png'
import Login from '@/assets/images/login.jpg'
import rules from '@/utils/rules'

export default {
  data: () => ({
    Logo,
    Login,
    showPassword: false,
    rules,
    username: null,
    password: null,
  }),
  computed: {
    ...mapGetters(['loading', 'error'])
  },
  methods: {
    ...mapActions(['authenticate']),
    async handleSubmit() {
      const {
        username,
        password
      } = this

      try {
        await this.authenticate({
          username,
          password
        })

        this.$router.push({ path: '/' })
      } catch (error) {
        this.$log.error(error)
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.wrapper {
  background-color: #ddd;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}
</style>
