<template>
  <div>
    <Breadcrumbs :items="breadcrumbs" />

    <v-divider />

    <v-tabs v-model="tab" :grow="$vuetify.breakpoint.smAndDown">
      <v-tab to="data">
        Dados
      </v-tab>

      <v-tab to="assessment">
        Avaliações
      </v-tab>

      <v-tab to="settings">
        Configurações
      </v-tab>
    </v-tabs>

    <div class="tab--line" />

    <v-fade-transition mode="out-in">
      <router-view />
    </v-fade-transition>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  components: {
    Breadcrumbs: () => import('@/components/Breadcrumbs'),
  },
  data: () => ({
    tab: null,
  }),
  computed: {
    ...mapGetters('account', ['account']),
    breadcrumbs() {
      return [
        {
          text: 'Contas',
          href: '/account',
        },
        {
          text: this.account.name,
          disabled: true,
        },
      ]
    }
  },
  methods: {
    ...mapActions('account', ['getAccount']),
  },
  mounted() {
    const { id } = this.$route.params

    if (id) {
      this.getAccount(id)
    } else {
      this.$router.push('/account')
    }
  },
}
</script>
